:root {
  --dark-green: #112a2d;
  --super-light-green: #e4f0f0;
  --unnamed-color-1c3230ed: #1c3230ed;
  --text-color: #424143;
  --light-green: #d3e7e7;
  --unnamed-color-51908b: #51908b;
}

.text-dark {
  color: var(--text-color) !important;
}

body {
  font-family: "Heebo";
  font-size: 16px;
}

.font-italic {
  font-style: italic;
}
/* Home Page */
.nav-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.social-links {
  /* margin-right: auto !important; */
}

.section-contact .social-links {
  margin-top: 4.5rem;
}

.social-links a {
  margin-left: 40px;
}

.nav-icons {
  max-width: 24px;
  width: 100%;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  width: 128px;
  height: 75px;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

.nav-item {
  margin-left: 40px;
}

.nav-link {
  font-size: 26px;
  line-height: 40px;
  color: var(--text-color);
  font-weight: normal;
}

.nav-item .active {
  background-image: url(./images/bg-link.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 50px;
  font-weight: bold;
}

.section-hero {
  height: 900px;
  width: 100%;
  background-image: url("./images/Mask\ Group\ 1@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero-content {
  position: relative;
  bottom: -65px;
  max-width: 780px;
  height: 430px;
  color: var(--light-green);
  background: #213a38e0;
  padding: 70px;
  height: 100%;
}

.section-review {
  padding-top: 170px;
  padding-bottom: 170px;
}

.section-review .home-bird-left {
  position: absolute;
  width: 540px;
  left: 0;
  top: -300px;
}

.section-card .home-bird-right {
  width: 480px;
  right: -4.5rem;
  bottom: -13.5rem;
}

.section-review-img div {
  max-width: 670px;
}

.section-review-img img {
  width: 100%;
  height: 100%;
}

.section-review__review {
  background-color: var(--light-green);
  margin-right: -30px;
  padding-right: 75px;
  padding-left: 200px;
}

.section-review__review .btn {
  width: 160px;
  background-image: url(./images/button-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: bold;
}

.section-card {
  padding-top: 145px;
  padding-bottom: 160px;
  background-color: var(--dark-green);
}

.section-card h2 {
  margin-bottom: 14.5rem;
}

.section-card .card {
  position: relative;
}

.section-card .card-img-top {
  position: absolute;
  top: -170px;
}

.section-card .card {
  background-color: var(--unnamed-color-51908b);
  padding-top: 8.5rem;
  max-width: 320px;
  max-height: 380px;
  height: 100%;
}

.section-card .cards-row {
  max-width: 1024px;
}
.cards-row .card-text {
  font-size: 14px;
}

.mb-40 {
  margin-bottom: 40px;
}

.section-opinion {
  padding-top: 169px;
  padding-bottom: 169px;
}

.section-opinion-img {
  max-width: 670px;
  min-width: 670px;
}
.section-opinion img {
  width: auto;
  height: 437px;
}

.section-opinion__review {
  background-color: var(--light-green);
  padding-left: 170px;
  padding-right: 270px;
  margin-left: 40px;
  max-width: 61.5rem;
  margin-right: 10%;
}

.section-opinion__review p {
  color: var(--text-color);
}

.section-opinion__review button {
  width: 100px;
  background-image: url(./images/button-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: bold;
}

.section-contact {
  height: 69rem;
  width: 100%;
  background-image: url("./images/contact-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 6px #00000029;

  /* opacity: 0.7; */
  position: relative;
  z-index: 0;
}

.section-contact-overlay {
  direction: rtl;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 145px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(17 42 45 / 70%);
  box-shadow: 0px 3px 6px #00000029;
  /* opacity: 0.7; */
  z-index: 1;
}

.section-contact-overlay h2 {
  font-size: 32px;
  line-height: 45px;
}

.form-wrapper {
  width: 62.5rem;
}

.section-contact-overlay .form {
  padding: 40px 46px;
  background: #213a38e0;
  z-index: 2;
  margin: auto;
  margin-top: 3.25rem;
}

input.form-control {
  height: 60px;
}

.section-contact-overlay .desciption {
  max-width: 660px;
}
.section-contact-overlay .btn-submit {
  background-color: var(--light-green);
}
/*End of home page*/

/*Start of help page*/

.help-section-hero {
  height: 660px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#help-section-hero {
  background-image: url(./images/help-hero.png);
}

.help-section-bird {
  height: 10.75rem;
}

.help-section-bird img {
  transform: rotateY(180deg);
  top: -17rem;
  margin-right: 25rem;
  max-width: 540px;
}
.help-section-hero-overlay {
  background-color: rgb(17 42 45 / 48%);
  width: 100%;
  height: 100%;
}

.help-section-hero-overlay h1 {
  color: var(--light-green);
  font-size: 51px;
}

.help-section-carousel {
  background-color: var(--super-light-green);
  padding-bottom: 157px;
  box-shadow: 0px 3px 6px #00000029;
}

.help-section-carousel .carousel-inner {
  max-width: 1400px;
  margin-right: 84px;
}

.help-bio p {
  font-size: 20px;
}

.help-section-carousel .slider-title {
  margin-top: 9rem;
  margin-bottom: 4rem;
  font-style: italic;
  color: var(--text-color);
}

.carousel-control-prev-icon {
  background-image: url("./images/prev.svg");
  background-repeat: no-repeat;
}

.carousel-control-next {
  margin-right: -5.25rem;
}
.carousel-control-prev {
  margin-left: -5.25rem;
}
.carousel-control-next-icon {
  background-image: url("./images/next.svg");
  background-repeat: no-repeat;
}

.help-carausel {
  max-width: 98rem;
}

.help-section-carousel .card {
  background-color: var(--unnamed-color-51908b);
  padding: 86px 0 100px 0;
  max-width: 27.5rem;
}

.carousel-card-img {
  margin-top: 75px;
}

#help-sblog-bird-left {
  left: 3.25rem;
  top: -9rem;
  max-width: 33.75rem;
}

#gallery-sblog-bird-left {
  left: -16rem;
  bottom: -9rem;
  max-width: 33.75rem;
}

#sblog-bird-right {
  right: -22rem;
  top: -4rem;
  transform: rotateY(180deg);
}

#s2blog-bird-right {
  right: -22rem;
  top: 14rem;
  transform: rotateY(180deg);
}
/*End of help page*/

/*Start of gallery page*/
#gallery-section-hero {
  background-image: url(./images/gallery-hero.png);
}

#gallery-section-hero .help-section-hero-overlay {
  background-color: rgb(17 42 45 / 15%);
}

.gallery-section-gallery {
  background: var(--super-light-green);
  padding-top: 145px;
  padding-bottom: 158px;
  margin-top: 172px;
  box-shadow: 0px 3px 6px #00000029;
}

.gallery-title {
  margin-bottom: 4rem;
  color: var(--text-color);
}

.gallery-card-container {
  max-width: 90rem;
  gap: 20px;
}

.gallery-section-gallery .card {
  max-width: 29rem;
  width: 100%;
}

.gallery-section-gallery .card img {
  width: 100%;
}

.gallery-section-gallery .card-body {
  width: 100%;
  background-color: #213a38e0;
  bottom: 0;
}

.gallery-pagination {
  gap: 40px;
}

.gallery-pagination button {
  width: 2rem;
  height: 2rem;
  background-color: var(--dark-green);
  font-style: italic;
  font-size: 1rem;
  font-weight: bold;
}

.gallery-pagination button:hover {
  background-color: var(--unnamed-color-51908b);
  border: 0;
}

.gallery-pagination button.active {
  background-color: var(--unnamed-color-51908b);
  border: 0;
}

/*End of gallery page*/

/* Single blog page styles */
#sblog-section-hero,
#sblog2-section-hero {
  background-image: url(./images/blog-hero.png);
}

#sblog-section-hero .help-section-hero-overlay,
#sblog2-section-hero .help-section-hero-overlay {
  background-color: rgb(17 42 45 / 35%);
}

.sblog-section-blog {
  padding-top: 10.75rem;
  max-width: 90rem;
}

.blog-content-wrapper .blog-date {
  color: #1c3230ed;
}

.blog-content-wrapper .blog-heading {
  color: #51908b;
  font-weight: normal;
}

.blog-content-wrapper {
  max-width: 42rem;
}

.blog-author-info {
  max-width: 22rem;
  border-bottom: 1px solid var(--unnamed-color-51908b);
}

.blog-author-img {
  max-width: 16.875rem;
}

.sblog-articles-section {
  gap: 70px;
  max-width: 90rem;
  margin-top: 5.5rem;
}

.sblog-lightbox-wrapper {
  max-width: 51rem;
}

.sblog-article-list {
  max-width: 21rem;
}

.sblog-article-list img {
  width: 10rem;
}

.sblog-article-list .blog-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sblog-lightbox {
  height: 14.5rem;
  width: 18rem;
  overflow: hidden;
}
.sblog-lightbox img {
  height: 100%;
}
.sblog-lightbox-main-img {
  width: 100%;
}
.sblog-section-subscribe {
  padding-top: 146px;
  padding-bottom: 146px;
}

.sblog-title {
  color: var(--text-color);
}

.sblog-description {
  color: var(--text-color);
  max-width: 670px;
}

.sblog-section-subscribe .subscribe-form {
  padding: 50px;
  margin: 2.5rem 28rem 1.75rem 28rem;
  background-color: var(--dark-green);
  max-width: 52.5rem;
}

.sblog-section-subscribe .form-control {
  padding: 14px;
}

.sblog-section-subscribe .subscribe-form .btn {
  font-size: 20px;
  padding: 14px;
  background-color: var(--super-light-green);
}
/* Single blog 2 start */
.sblog2-section-main {
  margin-top: 173px;
  /* margin-bottom: 156px; */
  margin-left: 183px;
}

.sblog2-section-main .inner-container {
  gap: 38px;
}

.img-container {
  max-width: 58rem;
}

.carousel-container {
  background-color: var(--light-green);
  height: 16rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.carousel-container .card {
  max-width: 10rem;
  width: 100%;
}

.carousel-container .card-img {
  max-width: 10rem;
  width: 16rem;
}

.caption p,
.caption h6 {
  font-size: 18px;
  text-align: center;
}

#s2blog-lightbox {
  max-width: 58rem;
}

#s2blog-lightbox .box {
  gap: 2rem;
}

#s2blog-lightbox .sblog-lightbox-main-img {
  margin-top: 2rem;
}

.secondary-img-container {
  width: 923px;
  gap: 3.5%;
  margin-bottom: 38px;
  height: 231px;
}

.img-container .lightbox-container {
  padding: 32px 0;
  background-color: var(--super-light-green);
}

.secondary-img {
  height: 100%;
  width: 31%;
}

.img-container .main-img {
  width: 100%;
  height: 418px;
  margin-bottom: 38px;
}

.img-container .carousel-container {
  width: 100%;
  padding: 40px 68px 32px 68px;
}

.img-container .card-container {
  width: 160px;
  height: 185px;
}

.sblog2-section-main .text-container {
  padding: 86px 76px 0px 136px;
  background-color: var(--super-light-green);
}

.sblog2-section-main .text-container h1 {
  color: #424143;
  font-size: 32px;
  font-size: 40px;
}

.sblog2-section-main .date {
  color: #1c3230ed;
}

.sblog2-section-main .text-container .blue-text {
  margin-bottom: 32px;
}

.bottom-indicators {
  padding: 0 12px;
}

#staticBackdrop {
  background: rgb(5 9 10);
  padding: 11%;
}

/* Single blog 2 end */
